
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // WARNING: This rule is insecure and allows anyone to read or write to your database.
    // It is intended for initial development and testing only.
    // TODO: Secure your database before deploying to production.
    // See https://firebase.google.com/docs/firestore/security/get-started
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
